<h1><%= @recipe.title %></h1>
<p><strong>Prep time: </strong><%= @recipe.prep_time %> mins</p>
<p><strong>Cook time: </strong><%= @recipe.cook_time %> mins</p>
<h2>Ingredients:</h2>
<% @recipe.ingredients.each do |ingredient| %>
    <p><%= ingredient %></p>
<% end %>